@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.5);
        opacity: 0.75;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.status-pulse {
    animation: pulse 2.5s ease-in-out;
}

footer a i.fab {
    color: white;
}

footer a i.fab:hover {
    color: #66bfff;
}

.list-group-item {
    border: none;
}

.list-group {
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    overflow: hidden;
}

.centralizado-limite {
    max-width: 640px;
}

.content-wrapper {
    background-color: rgba(255, 255, 255, 0.02);
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
